@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive breakpoints reference:
  sm: 640px
  md: 768px
  lg: 1024px
  xl: 1280px
  2xl: 1536px
*/

:root {
  --background: #3da6a8;
  --foreground: #171717;
  --success: #2b7476;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: "poppins";
}

.cardLogin {
  background-color: "#EDF6F6";
}

#inputUsernameLogin,
#inputSelectLogin {
  @apply w-full md:w-[549px] lg:w-[549px] h-[40px] md:h-[54px] lg:h-[54px] mb-4 md:mb-[15px] lg:mb-[15px];
  color: #665a58;
}

label {
  font-family: "poppins";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#loginFormText p {
  font-family: "poppins";
  font-size: 14px;
  letter-spacing: 1px;
  color: #3da6a8;
}

.btnLogin {
  padding: 16px;
}

input[type="file"] {
  padding: 0;
}

input[type="file"]::file-selector-button {
  margin-right: 10px;
  /* font-size: 16px; */
  background: var(--background);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan shadow */
}

input[type="file"]::file-selector-button:hover {
  background: var(--success);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); /* Perbesar shadow saat hover */
}

input[type="file"]::file-selector-button:active {
  background: var(--success-dark);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); /* Kurangi shadow saat aktif */
}

.btn-close:focus {
  outline: none;
}

.countdown-text {
  font-size: 18px;
  line-height: 0;
  letter-spacing: 3px;
  text-align: center;
}

.btn-index {
  z-index: 999;
}

.form-field {
  z-index: 1001;
}

.admin-card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Opsional */
}
